# Personal config
secrets.yaml

# Dymanic data
media/
backups/

# HA pairing
.ios.conf
.spotify-token-cache
entity_registry.yaml
phue.conf

# HA data
.storage/
.cache/
home-assistant.log*
home-assistant_v2.db*
