# Personal config
secrets.yaml

# Dymanic data
media/

# HA pairing
.ios.conf
.spotify-token-cache
entity_registry.yaml
phue.conf

# HA data
.HA_VERSION
.uuid
.storage/
TODO.md
deps/
home-assistant.log
home-assistant_v2.db
known_devices.yaml
ip_bans.yaml
